fsspec
# Goodfire Stochastic Parameter Decomposition (Interpretability)
git+https://github.com/goodfire-ai/spd.git@spd-paper
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
ipykernel
mamba-ssm-macos
matplotlib
numpy
pandas
pre-commit
pyarrow
requests
ruff
scikit-learn
transformers==4.40.1
tifffile
timm
torch
zarr
causal-conv1d
pydantic-settings
pytest
pyright
torchdiffeq
h5py
spikeinterface
rerun-sdk
