\documentclass{article}
\usepackage{geometry}
\geometry{a4paper, margin=1in}
\usepackage{graphicx}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{amsfonts}
\title{\VAR{ meta.title }}
\author{\VAR{ meta.author }}
\date{\today}

\begin{document}

\maketitle

\begin{abstract}
\VAR{ ai_abstract }
\end{abstract}

\section{Introduction}
\VAR{ meta.hypothesis }

\section{Prior Work}
% TODO: Discuss relevant literature of existing work.

\section{Methods}
\VAR{ ai_methods }

\section{Results}
\subsection{Baseline Detection}
\VAR{ ai_results_baseline }

\subsection{Ablation Study}
The baseline Gaussian model yielded a KS-statistic of \VAR{ metrics_decline.IdentityPrecisionEBM.ks_statistic | sig_figs(meta.significant_figures) }. However, the Precision Weighted EBM detected significant flattening with a Cohen's d of \VAR{ metrics_decline.PrecisionWeightedEBM.cohens_d | sig_figs(meta.significant_figures) }.

\VAR{ ai_results_pathology }

\begin{figure}[htbp]
    \centering
    \includegraphics[width=\textwidth]{../../output/benchmarks/worm_gait/05_worm_gait_decline_ablation.png}
    \VAR{ ai_caption_decline }
\end{figure}

\subsection{Thermodynamic Intervention}
Applying an intervention of $\lambda = \VAR{ metrics_intervention.RunB.lambda }$ steepened the basin to an energy distance of \VAR{ metrics_intervention.RunB.energy_distance | sig_figs(meta.significant_figures) }, yielding a rescue effect size of $R_\lambda = \VAR{ metrics_intervention.RunB.R_lambda | sig_figs(meta.significant_figures) }$.

\VAR{ ai_results_intervention }

\begin{figure}[htbp]
    \centering
    \includegraphics[width=\textwidth]{../../output/benchmarks/worm_gait/07_worm_gait_intervention_rescue.png}
    \VAR{ ai_caption_rescue }
\end{figure}

\subsection{Dose-Response Dynamics}
\begin{figure}[htbp]
    \centering
    \includegraphics[width=\textwidth]{../../output/benchmarks/worm_gait/08_lambda_dose_response.png}
    \caption{\textbf{Lambda Dose-Response Sweep.} This figure demonstrates the dose-response effect of various precision injection gain ($\lambda$) values.}
\end{figure}

\section{Discussion}
\VAR{ ai_discussion }

\end{document}
